@model WebApplication1.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "EmployeeList",new {DEptID=Model.DepartmentID })
</p>
